{% extends 'welderapp/base.html' %}
{% load static %}

{% block body %}
<div class="privacy-policy-banner"></div>

<!-- Container  -->
<div class="container mt-5">
    <span style="font-family: roboto;">
        <p style="text-align: justify;"><span style="font-family: roboto; font-size: 20pt;"><strong><span
                        style="font-family: roboto; color: #2e3192;">Privacy Policy</span></strong></span></p>
        <p class="font-weight-300" style="text-align: justify; font-size: 15px;"><span
                style="color: #000000;"><strong><span style="font-family: roboto;">Wellderly Care Pvt. Ltd.
                        (‘WC’)</span></strong> incorporated under the laws of India and is committed to protecting
                and respecting your privacy by maintaining the confidentiality of your personal information. WC’s
                (referred to as “we”, “our”, “us”) privacy policy is prepared towards compliance with the EU’s
                General Data Protection Regulation (“GDPR”) and the Indian Information Technology Act, 2000. We are
                into the business of providing healthcare services.</span>
            <span style="font-size: 14px;">We encourage you to read this Privacy Policy carefully and, in its
                entirety, as it relates to your rights regarding the processing of your personal data. As a user of
                our Services, you understand and agree that we collect, use, and disclose your personal data in
                accordance with this Privacy Policy.</span>
            <span style="font-size: 14px;">This Privacy Policy describes what personal data we collect about you,
                how we collect it, how we use it, with whom we may share it, and what rights you have regarding our
                use of your personal data. We also describe the measures we take to protect the security of your
                personal data and how to contact us.</span>
        </p>

        <!-- General -->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>1)
                    General</strong></span></p>
        <p style="text-align: justify;"><span style="font-size: 14px;"><strong>1.1 This Privacy policy applies to
                    all the services (‘Services’) offered by WC, except where otherwise noted.</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>1.2 Data
                    Collection: </strong>We collect data:</span></p>
        <ul style="text-align: justify;">
            <li><span class="font-weight-300" style="font-size: 14px;">Directly from you when you access various
                    parts of our Services, including when you communicate with us via email, website portal or other
                    channels;</span></li>
            <li><span class="font-weight-300" style="font-size: 14px;">From other sources, for instance the
                    company/Organization/Institutions which you are an employee/associated of; and</span></li>
            <li><span class="font-weight-300" style="font-size: 14px;">From travel agents or booking websites and
                    portals where you voluntarily provide your information.</span></li>
        </ul>
        <p style="text-align: justify;"><span style="font-size: 14px;"><strong>1.2 You: You/you
                    means:</strong></span></p>
        <ul style="text-align: justify;">
            <li><span class="font-weight-300" style="font-size: 14px;">Any data subject who has directly or
                    indirectly availed the services of WC;</span></li>
            <li><span class="font-weight-300" style="font-size: 14px;">Any data subject who is visiting one of our
                    websites because they are curious;</span></li>
            <li><span class="font-weight-300" style="font-size: 14px;">Any data subject who furnishes information to
                    WC pertaining to his/her stay at WC;</span></li>
            <li><span class="font-weight-300" style="font-size: 14px;">Any guest or prospective guest at WC;
                    and</span></li>
            <li><span class="font-weight-300" style="font-size: 14px;">Any data subject whose personal information
                    is being stored, processed and/or transferred by or to WC.</span></li>
        </ul>

        <!-- Defination -->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>2)
                    Defination</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>2.1 Personal
                    Data:</strong> Names and contact information, work and home/mobile phone, fax, email, address,
                banking details, age, medical information, etc.</span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>2.2 Data
                    subject:</strong> Data subject means any identifiable natural person who can be identified
                directly or indirectly, in particular by reference to an identifier such as a name, an
                identification number, location data, an online identifier or to one or more factors specific to the
                physical, physiological, genetic, mental, economic, cultural or social identity of that natural
                person. All Guests/Users of the services of WC are covered under the definition of data
                subjects.</span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>2.3
                    Processing:</strong> Processing means any operation or set of operations which is performed on
                personal data or on sets of personal data, whether or not by automated means, such as collection,
                recording, organisation, structuring, storage, adaptation or alteration, retrieval, consultation,
                use, disclosure by transmission, dissemination or otherwise making available, alignment or
                combination, restriction, erasure or destruction.</span></p>

        <!-- Information -->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>3)
                    Information</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>WC</strong>
                NWC collects your information in person or through emails, telephonic conversations,
                online forms, and from third parties such as travel agents and reservation portals. The information
                we collect about you may include the following:</span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>3.1 Contact
                    Information:</strong> You might provide us with the information like e-mail address, name, home
                address, phone/mobile number, IP address, demographic information, banking details etc. whether
                through the use of our Services, a form on our website or at our properties or in an interaction
                with our sales or customer support team. WC collects that information voluntarily shared by
                you.</span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>3.2 Log
                    Data:</strong> Like most websites today, our web servers keep log files that record data each
                time a device accesses those servers. The log files contain data about the nature of each access,
                including originating IP addresses, internet service providers, the files viewed  on our site (e.g.
                HTML pages, graphics, etc.), operating system versions, device type and timestamps.</span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>3.3 Demographic
                    Information:</strong> WC also collects demographic
                information which is not personally identifiable or unique to you like age, gender, geographic
                information etc. and this information is used by us to maintain records and to comply with statutory
                requirements. This information can be collected by the third-party booking websites, travel agents,
                customer support agents or in person by WC’s officials.</span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>3.4 Information
                    from third parties:</strong> WC does not control or
                take any responsibility for the confidentiality of personal information shared by you on third party
                website or web page. Please always review and share information if you consent to their terms and
                usage of your personal information by them.</span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>3.5 Information
                    shared by you on third party website or web
                    page:</strong> WC does not control or take any responsibility for the confidentiality of
                personal information shared by you on third party website or web page. Please always review and
                share information if you consent to their terms and usage of your personal information by
                them.</span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>3.6 Information
                    we share:</strong> Please note that we do not share
                any personally identifiable information with anyone and always try to maintain the privacy. However,
                we may need to disclose your personal information when we believe it’s in good faith and necessary
                to comply with judicial proceeding, court order, legal process or when needed to investigate, act
                against any illegal, suspected or fraudulent activity. WC will furnish your details to relevant
                Government organisations and authorities in compliance of various laws. such information would
                include your passport of identity details, name, age, geographical information etc.</span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>3.7
                    Information we use:</strong> We may use the information we collect about you through this Site
                for various purposes, including to:</span></p>
        <ul class="mb-5" style="text-align: justify;">
            <li><span class="font-weight-300" style="font-size: 14px;">Personalize and improve your online
                    experience, such as by providing you with content that may interest you and making navigation on
                    our Site easier;</span></li>
            <li><span class="font-weight-300" style="font-size: 14px;">Respond to your emails or other requests,
                    inquiries, comments, or questions (to respond effectively we may share information with others,
                    for instance, a specific WC community or regional staff member who can best handle your
                    request);</span></li>
            <li><span class="font-weight-300" style="font-size: 14px;">Monitor and analyze trends, usage, and
                    activities of visitors to, and users of, the Site; Improve the Site, our marketing, and products
                    or services we may offer;</span></li>
            <li><span class="font-weight-300" style="font-size: 14px;">Contact you regarding your use of the Site
                    or, in our discretion, changes to our policies; Verify and/or authenticate a user’s
                    identity;</span></li>
            <li><span class="font-weight-300" style="font-size: 14px;">Provide users with information that we
                    believe may be useful to them, such as information about products or services offered by us or
                    by others;</span></li>
            <li><span class="font-weight-300" style="font-size: 14px;">Prevent fraud or other misuse of the Site,
                    including protecting our rights and the rights of affiliates or related third parties;</span>
            </li>
            <li><span class="font-weight-300" style="font-size: 14px;">Maintain records of our transactions and
                    communications;</span></li>
            <li><span class="font-weight-300" style="font-size: 14px;">Comply with applicable laws, regulations, or
                    legal process as well as industry standards and our company policies;</span></li>
            <li><span class="font-weight-300" style="font-size: 14px;">Prevent, investigate, identify, or take any
                    other action with regard to any suspected or actual fraudulent or illegal activity or any
                    activity that violates our policies; or</span></li>
            <li><span class="font-weight-300" style="font-size: 14px;">For any other purpose, with your
                    consent.</span></li>
        </ul>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">We also may use the
                information we obtain about you in other ways for which we provide notice at the time of
                collection.<br />
                In addition, as described above, we use cookies and other automated tools for purposes such as
                recognizing your device when you visit the Site, monitoring your activity as you navigate the Site, or
                analyzing your use of the Site. This information may be used to track your activity over time on various
                websites and services, as well as across different devices you may use to access the Internet and our
                Site.</span></p>
        <p style="text-align: justify;"></p>

        <!--4 Your rights-->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>4)
                    Your rights</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>
                    4.1 Right to access, rectify or delete your information:</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">
                You have the right to request WC to access, rectify or delete your information stored with us. You can
                ask us to verify whether we are processing personal information about you. You can ask us to rectify our
                records if you believe they contain incorrect or incomplete information about you. Lastly, you can ask
                us to delete your personal information if you withdraw your consent or when we no longer need it for the
                purpose it was originally collected for.<br />
                However, it is made clear that WC is required to maintain records of your information which WC is also
                required to furnish time and again to government authorities and offices. WC cannot erase or change such
                records and You hereby understand such limits to your rights and explicitly provide your irrevocable
                consent to WC to maintain such records.<br />
                Erasure/ Rectification can be requested at info@welldercare.life
            </span></p>

        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>
                    4.2 Right to restrict processing:</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">
                You have the right to restrict processing of your personal information in circumstances where:<br />
                a) you contest the accuracy of the personal information;<br />
                b) prefer to restrict its use rather than having us erase it;<br />
                c) where you believe we no longer need the personal information for the purpose of processing, but you
                require personal information for the establishment, exercise or defence of legal claims;<br />
                d) you have objected to processing, pending the verification of that objection.<br />
                Please note that WC will duly inform you before lifting the restriction of the processing.<br />
                Restriction to processing can be requested at info@welldercare.life
            </span></p>

        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>
                    4.3 Right to object to processing</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">
                You have the right to object to our processing of your personal information on grounds pertaining to
                your particular situation but only to the extent that the processing is necessary for:<br />
                a) the performance of a task carried out in the public interest or in the exercise of any official
                authority vested in us; or<br />
                b) the purposes of the legitimate interests pursued by us or by a third party.<br />
                If you make such an objection, we will cease to process the personal information unless we can
                demonstrate compelling legitimate grounds for the processing which override your interests, rights and
                freedoms, or if the processing is for the establishment, exercise or defence of legal claims.<br />
                How to make an objection:<br />
                You can object to processing by sending your objections to info@welldercare.life

            </span></p>


        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>
                    4.4 Right to data portability:</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">
                Where you have provided personal information to us, you can ask us to transmit that personal information
                (in a structured, commonly used, and machine-readable format) directly to another company if it is
                technically feasible.
            </span></p>

        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>
                    4.5 Right to erasure:</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">
                You have the right to erase/ delete your personal information without undue delay in circumstances
                where:<br />
                a) personal information is no longer necessary in relation to the purpose for which they were collected
                or processed;<br />
                b) you withdraw consent on which processing is based;\c) you object to the processing under certain data
                protection rules;<br />
                d) processing is for direct marketing purposes and the personal information have been unlawfully
                processed;<br />
                e) personal information has to be erased for compliance with a legal obligation.<br />
                Please note that there are certain exclusions of the right to erasure. Such exclusions include where
                processing is necessary:<br />
                a) for exercising the right of freedom of expression and information;<br />
                b) for compliance with a legal obligation; or<br />
                c) for the establishment, exercise or defence of legal claims.<br />
                Delete your information by requesting at info@welldercare.life
            </span></p>

        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>
                    4.6 Right to withdraw consent</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">
                You providing us with your information by availing our services is always voluntary, and you can
                withdraw your consent at any time. Withdrawal will not affect the lawfulness of any processing carried
                out before you withdraw your consent. Exclusions as mentioned under clause 4.5 will always be applicable
                when you choose to withdraw your consent.<br />
                You can withdraw your consent by sending us an email at: info@welldercare.life
            </span></p>

        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;"><strong>
                    4.7 Right to complaint to our supervising authority</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">
                If you consider that our processing of your personal information infringes data protection laws, you
                have a legal right to lodge a complaint with a responsible authority or to our supervising authority who
                will assertively and proactively look into your concerns.<br />
                Our Supervisory authority responsible for protecting your personal information is:<br />
                <b>WC : Director<br />
                    Address: Wellderly Care Private Limited<br />
                    702, B Wing Hari Preet Chs Ltd, Jain Derasar Road, Near<br />
                    Poddar School, Santacruz West, Mumbai, Mumbai City,<br />
                    Maharashtra, India, 400054<br />
                    Email: info@welldercare.life</b><br />
            </span></p>


        <!--5 Retaining and Deleting your personal information-->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>5)
                    Retaining and Deleting your personal information</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">
                We do not delete your personal information suo-moto. You are responsible to request us to delete your
                personal information retained by us to the extent possible.<br />
                You can request us to delete your personal information by sending your request at
                info@welldercare.life<br />
                You by availing our services and by providing us information understand and agree that we may retain
                your information for compliance with a legal obligation to which we are subject, or in order to protect
                your vital interests or the vital interests of another natural person. In such scenarios we will refuse
                to delete your personal information retained by us.<br />
            </span></p>

        <!--6 Privacy concerns-->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>11)
                    Privacy concerns</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">
                If you have any questions or comments about this Privacy Policy or how we handle your personal
                information, please direct your correspondence to:
                <br /><b>WC : Director<br />
                    Address: Wellderly Care Private Limited<br />
                    702, B Wing Hari Preet Chs Ltd, Jain Derasar Road, Near<br />
                    Poddar School, Santacruz West, Mumbai, Mumbai City,<br />
                    Maharashtra, India, 400054<br />
                    Email: info@welldercare.life</b><br />
                Please note that, we respond within 30 days from the date we receive privacy related communications.

            </span></p>

        <!--7 Confidentiality-->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>7)
                    Confidentiality</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">
                You must maintain confidentiality, and not disclose to any other person, any information and content
                that you access or learn in connection with you availing our services. You are prohibited from sharing
                with any third party and/or from posting on social media/ in public, any photographic or other imagery,
                information, or any other content from any and all activities at our property. You must not use any such
                information or content for any purpose other than your participation in the Services in accordance with
                this Agreement. You hereby agree to notify WC immediately if you learn of or suspect any use or
                disclosure of, or access to, any such information or content other than as specifically authorized in
                this agreement.
            </span></p>

        <!--8 Data Protection-->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>8)
                    Data Protection</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">
                We are committed to protecting and respecting your privacy by maintaining the confidentiality of your
                personal information. Your information collected and stored either in physical form or in digital form
                is always dealt with utmost care. We take all reasonable steps to protect the confidentiality of your
                information. Your information is only shared with our officials, government authorities and/or third
                parties on need to know basis. We take all reasonable steps to ensure that the confidentiality of your
                information being shared with our officials and/ or third parties is protected.
            </span></p>

        <!--9 Business Transfers-->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>9)
                    Business Transfers</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">
                We reserve the right to transfer any information we obtain through the Site in the event of a joint
                venture, partnership, merger, or other collaboration with another organization, or in the event we sell
                or transfer all or a portion of our business or assets (e.g., further to a reorganization, liquidation,
                or any other business transaction, including negotiations of such transactions).
            </span></p>

        <!--10 Online Advertising-->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>10)
                    Online Advertising</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">
                WC does not deliver third-party online advertisements on our Site, but we may advertise our services on
                other websites that we do not control. Those third-party websites may have their own privacy policies
                that explain their practices relating to advertising, including what type of information they may
                collect about your Internet usage. WC does not provide information relating to your usage of this Site
                to website operators or network advertisers except as may be permitted pursuant to this Privacy Policy.
            </span></p>
        <!--11 Information Security-->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>11)
                    Links to Non-WC Websites</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">
                This Site may include links to non-WC websites for your convenience and information. These third-party
                websites may have their own privacy policies or notices, which we encourage our users to review. This
                Online Privacy Policy applies solely to information collected through this Site. WC is not responsible
                for the privacy practices or content of any linked websites that we do not control.<br />
                Please note, if you visit our Careers page the information you submit will be processed by our Human
                Resources Dept. in order to contact you and further verify your credentials directly or through a third
                party.<br />
            </span></p>

        <!--12 Information Security-->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>12)
                    Information Security</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">WC implements appropriate
                physical, administrative, and technical safeguards to help us protect personally identifiable
                information collected through the Site. Although we use reasonable efforts to safeguard information,
                transmission via the Internet is not completely secure and we cannot guarantee the security of your
                information collected through the Site.</span></p>

        <!--13 Social Features-->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>13)
                    Social Features</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">The Site may include
                features that are designed to permit interactions that you initiate between the Site and third-party
                websites or services, including third-party social networks (collectively, “Social Features”). For
                example, you may be able to “like” or “share” content from this Site on other websites or
                services.<br />If you use Social Features on the Site, both WC and the third-party services that operate
                those Social Features may have access to certain information about you and your use of both this Site
                and theirs. The information we collect in connection with your use of Social Features is subject to this
                Online Privacy Policy. The information collected and stored by the third parties remains subject to
                those third parties’ privacy policies, including whether they share information with us, the types of
                information shared, and your choices with regard to what is visible to others on their websites or
                services.</span></p>

        <!--14 Children’s Privacy-->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>14)
                    Children’s Privacy</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">The Site is not intended
                for children, nor is it targeted to children under the age of fourteen (14). We do not knowingly collect
                personal information from children under the age of 14 through the Site, and if we learn that we have
                received information from a visitor under the age of 14, we will delete such information in accordance
                with applicable law.</span></p>

        <!--15 Termination of Agreement-->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>15)
                    Termination of Agreement</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">WC reserves the right to
                cancel or invalidate your account(s), registrations, points and rewards, deny redemption of your
                Rewards, or restrict, block, limit, and prevent your access to and use of the Services. In any such case
                WC refuses to receive your information or erases the information collected from you the terms of this
                policy including your rights mentioned herein or elsewhere would cease to exist.<br />
            </span></p>
        <!--16 Changes to this Online Privacy Policy-->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>16)
                    Changes to this Online Privacy Policy</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">WC reserves the right to
                change or restate this Online Privacy Policy, which may be amended from time to time. If we make
                changes, we will notify you by revising the date at the top of this page. We encourage you to review
                this Online Privacy Policy whenever you visit the Site to stay informed about our information practices.
                Use of this Site following such revisions constitutes your acceptance of the revised Privacy Policy then
                in effect.<br />

            </span></p>
        <!--17 conclusion-->
        <p style="text-align: justify;"><span style="font-size: 14px; color: #bd1a8d;"><strong>17)
                    Conclusion</strong></span></p>
        <p style="text-align: justify;"><span class="font-weight-300" style="font-size: 14px;">WC in order to provide
                you services collects and stores your personal information which is dealt with utmost care and WC takes
                all reasonable steps to secure the confidentiality of such information provided by you. You provide us
                with your information as per your own discretion and by providing us with such information you give us
                your explicit consent to store and process your personal information and data. You have rights in
                context to your personal information that are mentioned herein and elsewhere, however, there would be
                limits to your rights pertaining to your personal information as in some scenarios WC would be under an
                obligation to store, transmit and process your personal information in compliance with various laws,
                regulations and directions. You by availing our services agree to such exceptions and exclusions to your
                rights.<br />
                By availing our services and by providing us with your information either directly or indirectly, you
                accept our privacy policy and the terms & conditions mentioned here. WC reserves the right to make
                changes to this Privacy Policy. We encourage you to periodically review this Privacy Policy. Your
                continued participation in WC after any revisions to this Privacy Policy constitutes your acceptance of
                this Privacy Policy, as amended, modified or updated. WC will not be responsible to intimate any change
                made to this policy.<br /></span></p>
    </span>
</div>
{% endblock %}