{% extends 'welderapp/base.html' %}
{% load static %}

{% block body %}
<div class="copyright-banner"></div>
<div class="container mt-5 mb-5 copyright-div">
    <h3 class="mb-5 heading-color"><span class="font-weight-300">
            <font color=#2e3192>Welldercare Group
        </span> Copyright Notice and Usage
        Information.</font>
    </h3>
    <p class="text-dark"><b>Unless otherwise indicated, all content contained on this site is Copyright © 2021
            Welldercare Group. All Rights Reserved.</b></p>

    <p class="font-weight-300">Reproduction in whole or part of the contents of the Web site is strictly prohibited,
        except for personal use
        by individuals or for non-commercial use within your organization. Access to the Web site is provided solely
        to users for information in support of Welldercare Group and its affiliates products and services. No other
        use of the information provided hereunder is authorized. In consideration of this authorization, you agree
        that any copy of the contents that you make shall retain all copyright and other proprietary notices
        contained therein.</p>

    <p class="font-weight-300">Documents published by Welldercare Group on the Web site are provided &quot;AS
        IS&quot; without warranty of
        any kind, either expressed or implied, including but not limited to the implied warranties of
        merchantability, fitness for a particular purpose, or non-infringement. Welldercare Group shall not under
        and circumstances be liable to any person for any special, incidental, indirect or consequential damages,
        resulting from use of or reliance on the information presented, loss of profits or revenues or costs of
        replacement goods or services, even if informed in advance of the possibility of such damages.</p>

    <p class="font-weight-300">Every effort has been made to ensure the accuracy of the information presented.
        However, Welldercare Group
        assumes no responsibility for the accuracy of the information. Product information is subject to change
        without notice. Changes, if any, will be incorporated in new editions of these publications. Welldercare
        Group may make improvements and/or changes in the products and/or programs described in these publications
        at any time without notice. Mention of non-Welldercare Group products or services is for information
        purposes only and constitutes neither an endorsement nor a recommendation.</p>

    <p class="font-weight-300">All products and brand names are trademarks or registered trademarks of Welldercare
        Group or their respective
        holders.</p>
</div>

{% endblock %}