{% extends 'welderapp/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href={% static 'css/nicepage.css' %} />
<link rel="stylesheet" href={% static 'css/Why-Choose-Us.css' %} />
{% endblock %}

{% block body %}
<section class="u-align-center u-clearfix u-image u-valign-bottom u-section-1" id="sec-49c1" data-image-width="1920"
  data-image-height="604"></section>
<section class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-grey-5 u-section-2"
  id="sec-2954">
  <div class="u-clearfix u-sheet u-valign-top-lg u-valign-top-md u-sheet-1">
    <h3 class="u-text u-text-custom-color-1 u-text-1" style="font-weight: 600;">
      <span style="font-weight: 300;">Because </span>ageing shouldn’t mean settling for anything<span
        style="font-weight: 300;"> less than the best.</span>
    </h3>
    <p class="u-align-justify-xl u-custom-font u-heading-font u-text u-text-2"> Three years of research led us to a
      simple discovery - to be healthy, you need to be happy. Everything we have built and designed at Welldercare
      aims to deliver exactly this.</p>
    <div class="u-clearfix u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-19 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <img class="u-align-center u-expanded-width u-image u-image-round u-radius-10 u-image-1" alt=""
                data-image-width="400" data-image-height="267" src={% static 'image/AdobeStock_250627340.png' %}>
            </div>
          </div>
          <div class="u-align-justify-sm u-align-justify-xs u-container-style u-layout-cell u-size-41 u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
              <h5 class="u-text u-text-custom-color-1 u-text-default u-text-3"> Because you need more than just a safe
                place to stay.</h5>
              <p
                class="u-align-justify-lg u-align-justify-md u-align-justify-xl u-custom-font u-heading-font u-text u-text-4">
                At Welldercare, we focus on more than just your physical health. Our holistic approach also takes care
                of your emotional well-being and spiritual growth. With world-class hospitality, recreation,
                healthcare, wellness and assistance with activities of daily living (should you need it). All
                systematically planned around your unique needs and delivered by our highly trained &amp; sensitive
                team, supported by best-in-class doctors, expert nutritionists and eminently qualified counselors and
                guides. Helping you find purpose and fulfillment through expressive arts, therapeutic healing and by
                spending time with other top achievers like you. Because we understand that you’re not at the end of
                your journey, but at the beginning of a new one. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-clearfix u-layout-wrap u-layout-wrap-2">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-19 u-layout-cell-3">
            <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-xl u-container-layout-3">
              <img class="u-align-center u-expanded-width-sm u-expanded-width-xs u-image u-image-2"
                src={% static 'image/AdobeStock_229349398.png' %} data-image-width="400" data-image-height="267">
            </div>
          </div>
          <div class="u-align-justify-sm u-align-justify-xs u-container-style u-layout-cell u-size-41 u-layout-cell-4">
            <div class="u-container-layout u-container-layout-4">
              <h5 class="u-text u-text-custom-color-1 u-text-default u-text-5"> Because buying property will not buy
                you peace of mind.</h5>
              <p
                class="u-align-justify-lg u-align-justify-md u-align-justify-xl u-custom-font u-heading-font u-text u-text-6">
                We’re pioneering India’s first ‘Lifestyle As A Service’ (LAAS) model with Long Term Retirement Resorts
                across 20+ scenic locations in India that aim to deliver a seamless joyful experiential journey of
                life with a keen eye on mapping your health on a 24x7 basis, non-invasively. So you don’t get tied
                down with heavy real estate investments and instead enjoy your retirement stress-free. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-clearfix u-layout-wrap u-layout-wrap-3">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-19 u-layout-cell-5">
            <div class="u-container-layout u-container-layout-5">
              <img class="u-align-center u-expanded-width u-image u-image-round u-radius-10 u-image-3" alt=""
                data-image-width="400" data-image-height="267" src={% static 'image/AdobeStock_125465203.png' %}>
            </div>
          </div>
          <div class="u-align-justify-sm u-align-justify-xs u-container-style u-layout-cell u-size-41 u-layout-cell-6">
            <div class="u-container-layout u-container-layout-6">
              <h5 class="u-text u-text-custom-color-1 u-text-default u-text-7"> Because your standard of living
                shouldn’t go down as you age up.</h5>
              <p
                class="u-align-justify-lg u-align-justify-md u-align-justify-xl u-custom-font u-heading-font u-text u-text-8">
                We leverage our partnerships with reputed wealth management agencies to help you develop a safe wealth
                management plan with a steady return. A small part of the return is used in paying for Welldercare’s
                services which is significantly lesser than the expenses that come with any real-estate investment for
                senior living. Making sure your retirement years are spent comfortably in the style that you are used
                to. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-clearfix u-layout-wrap u-layout-wrap-4">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-19 u-layout-cell-7">
            <div class="u-container-layout u-valign-bottom-sm u-valign-bottom-xs u-container-layout-7">
              <img
                class="u-align-center u-expanded-width-sm u-expanded-width-xs u-image u-image-round u-radius-10 u-image-4"
                alt="" data-image-width="375" data-image-height="385" src={% static 'image/RepeatGrid1.png' %}>
            </div>
          </div>
          <div class="u-align-justify-sm u-align-justify-xs u-container-style u-layout-cell u-size-41 u-layout-cell-8">
            <div class="u-container-layout u-container-layout-8">
              <h5 class="u-text u-text-custom-color-1 u-text-default u-text-9"> Because cutting-edge technology is not
                just for the young.</h5>
              <p
                class="u-align-justify-lg u-align-justify-md u-align-justify-xl u-custom-font u-heading-font u-text u-text-10">
                Welldercare has partnered with global leaders in healthcare technology to develop cutting-edge
                solutions that add value to your life by making it easier and safer. Like with our proprietary <font
                  color="#BD1A8D">Smart
                  Lamp</font> that blends emotional and artificial intelligence to track and assess your health
                parameters,
                emotions and wellness index while remaining completely non-intrusive. Learning from patterns to
                predict potential health problems early, detect anomalies and raise alarms for improved preventive
                care. </p>
              <img class="u-align-center u-image u-image-round u-radius-10 u-image-5" alt="" data-image-width="150"
                data-image-height="92" src={% static 'image/Award-01.png' %}>
              <img class="u-align-center u-image u-image-round u-radius-10 u-image-6" alt="" data-image-width="150"
                data-image-height="66" src={% static 'image/Award-02.png' %}>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-clearfix u-gradient u-layout-wrap u-layout-wrap-5">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-19 u-layout-cell-9">
            <div class="u-container-layout u-valign-middle u-container-layout-9">
              <img class="u-align-center-sm u-align-center-xs u-image u-image-7" src={% static 'image/Group100349.png' %}
                data-image-width="192" data-image-height="192">
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-size-41 u-layout-cell-10">
            <div class="u-container-layout u-container-layout-10">
              <h5 class="u-text u-text-default u-text-white u-text-11"> Because the best years of your life are still
                ahead.</h5>
              <p
                class="u-align-justify-sm u-align-justify-xs u-custom-font u-heading-font u-text u-text-white u-text-12">
                Rediscover your purpose, reconnect with a select community of like-minded peers and reclaim the drive
                and joy of your youth at our 21-day retreat program - Best Years Program. Conducted in carefully
                curated groups of 30 in beautiful locations far away from madding crowds, this highly experiential
                program will empower you to manifest your best future.</p>
              <span style="color: white; font-weight: 300;">To participate or know more, <a style="border: 1px solid white;
                  width: -webkit-fit-content;
                  width: -moz-fit-content;
                  width: fit-content;
                  font-size: 14px;
                  color: white;
                  padding: 2px 6px;
                  border-radius: 4px;" href="/contact.html">click here</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<style class="u-overlap-style">
  .u-overlap:not(.u-sticky-scroll) .u-header {
    background-color: #ffffff !important
  }
</style>

{% endblock %}